<div class="container">
  <div class ="row">
    <div class="col-md-12">
          <h1>FAQs</h1>      
          <p>As a student, I need a house in the autumn, how do I go about getting one in Guildford?</p>
          <p>If I like a house on your website what do I do?</p>
          <p>I'm on my own and your houses are for 5 or 6 people - does this matter?</p>
          <p>The Tenancy Agreement is for a full year. What happens if I don't like the course or have to leave?</p>
          <p>My parents are worried about the Guarantee?</p>
          <p>My parents live abroad, can they sign the Guarantee?</p>
          <p>What is the position over Utilites - Gas Electricity etc?</p>
          <p>I like the house and want to secure it - what do I do next?</p>
          <p>What do my Parents have to do?</p>
          <p>Do you do any form of credit checking?</p>
          <p>When can I move in / Collect the keys?</p>
          <p>What do I need to bring with me?</p>
          <p>What about washing?</p>
          <p>Is there a bath?</p>
          <p>Can I bring my bike?</p>
          <p>Can I bring a car?</p>
          <p>Do you provide food?</p>
    </div>
  </div>
</div>
