<div class="container">
  <div class ="row">
    <div class="col-md-12">
          <h1>FAQs</h1>    
          <h2>Questions</h2>
          <p><a href="#start">As a student, I need a house in the autumn, how do I go about getting one in Guildford?</a></p>
          <p><a href="#secure">If I like a house on your website what do I do?</a></p>
          <p><a href="#matter">I'm on my own and your houses are for 5 or 6 people - does this matter?</a></p>
          <p><a href="#tenancy">The Tenancy Agreement is for a full year. What happens if I don't like the course or have to leave?</a></p>
          <p><a href="#guarantee">My parents are worried about the Guarantee?</a></p>
          <p><a href="#abroad">My parents live abroad, can they sign the Guarantee?</a></p>
          <p><a href="#utilities">What is the position over Utilites - Gas Electricity etc?</a></p>
          <p><a href="#want">I like the house and want to secure it - what do I do next?</a></p>
          <p><a href="#action">What do my Parents have to do?</a></p>
          <p><a href="#credit">Do you do any form of credit checking?</a></p>
          <p><a href="#key">When can I move in / Collect the keys?</a></p>
          <p><a href="#bring">What do I need to bring with me?</a></p>
          <p><a href="#washing">What about washing?</a></p>
          <p><a href="#bath">Is there a bath?</a></p>
          <p><a href="#bike">Can I bring my bike?</a></p>
          <p><a href="#car">Can I bring a car?</a></p>
          <p><a href="#food">Do you provide food?</a></p>
    </div>
    <div class="col-md-12">
          <h2>Answers</h2> 
          
          <p id="start"><strong>As a student, I need a house in the autumn, how do I go about getting one in Guildford?</strong></p>
          <p>Big question! The best time to start is when you have a group of 5 or 6, then start looking towards the end of your 
          first term - November is not too early .Then you need to look through our housing list and see if there is one you like. 
          Click on <strong><%= link_to "Properties", properties_path %></strong> and scroll down the list. Clicking on an address 
          takes you to more information about the house, and more pictures.</p>
          
          <p id="secure"><strong>If I like a house on your website what do I do?</strong></p>
          <p>It is always a good idea to arrange a viewing. Photos can be deceptive, and you ought to see the room and how it feels 
          before you commit. You may like to send your parents a link to the website so they can see the house as they may like to 
          visit with you. Once agreed, you place a Holding Deposit of &pound;450, and we carry out credit checks on your guarantor. 
          It is always a good idea to arrange a viewing. Photos can be deceptive, and you ought to see the room and how it feels 
          before you commit. You may like to send your parents a link to the website so they can see the house as they may like to 
          visit with you. Once agreed, you place a Holding Deposit of &pound;450, and we carry out credit checks on your guarantor. 
          This becomes a Security Deposit when you move in and will then be registered with My Deposits. There is an additional fee 
          for the credit checks of &pound;50 (this is non-refundable as this represents our cost in credit checking) and both this 
          fee and the Holding Deposit are required with your Application Form once you decide to proceed.This becomes a Security 
          Deposit when you move in and will then be registered with My Deposits. There is an additional fee for the credit checks 
          of &pound;50 (this is non-refundable as this represents our cost in credit checking) and both this fee and the Holding 
          Deposit are required with your Application Form once you decide to proceed.</p>
          
          <p id="matter"><strong>I'm on my own and your houses are for 5 or 6 people - does this matter?</strong></p>
          <p>Our Tenancy Agreements are for all Tenants in the house - see a sample on the <strong><%= link_to "Rates", rates_path %></strong>
          page. We often get a house where one or two want to leave at the end of a year, or their course finishes, and we 
          are looking for replacements. In this case it is all the more important that you view and meet your potential house mates. 
          You should know when you meet them if you couldn't share with them and you may know that you want to share with them. We 
          often make up a house from singles and if it doesn't work out, we can always look to move you to one of our other houses.</p>
          
          <p id="tenancy"><strong>The Tenancy Agreement is for a full year. What happens if I don't like the course or have to leave?</strong></p>
          <p>Yes, the Tenancy Agreement is for a full year. If you want to leave, then it is best to get in touch with us immediately. 
          You won't be the first this has happened to and we will do our best to help you to replace yourself in the house. 
          Generally the other students have friends who want to move in, or the Uni / College Accommodation office will help. In 
          the end the responsibility is yours but we have never had to rely on a student to continue paying or exercise a Guarantee 
          for more than a month or two.</p>
          
          <p id="guarantee"><strong>My parents are worried about the Guarantee?</strong></p>
          <p>ALL parents are! Essentially they are signing a document that says they will settle your liabilities or pay your debts 
          if you don't. If one tenant doesn't pay, then it is not fair on the other tenants, or on us. Our mortgage company doesn't 
          let us off the odd monthly payment so we can't let you off one either. But we will try and help where we can. We have even 
          employed students to help with decorating etc if they get behind with the rent. As with all these matters it is best to 
          discuss it early with us. In the end, if your parents won't sign, then we won't be able to offer you a place. All 
          Landlords in Guildford require guarantees.</p>
          <p>The alternative is to pay your rent in full at the beginning - some students do!</p>
          
          <p id="abroad"><strong>My parents live abroad, can they sign the Guarantee?</strong></p>
          <p>Your Lease Guarantee must be signed by a parent or guardian who is a UK resident with a UK bank. If you have a relative 
          or friend who is willing to do this for you, that's fine too. With a Guarantor you can pay your rent monthly. If that is 
          not possible you will have to pay your rent in 2 installments. The first instalment on August 1st for 6 months rent, and 
          then on January 1st for remaining 5.5 months rent. This will prevent the need for a guarantor to stand surety for you.</p>
          
          <p id="utilities"><strong>What is the position over Utilites - Gas Electricity etc?</strong></p>
          <p>We make an allowance of &pound;10 per week for utility bills that are included within the monlthy payment. We have a 
          fair use policy so that you do not leave the radiators on all day and open the windows when it gets too hot. This means 
          we monitor the useage of all utilities and we tell you if you are going over the &pound;10 allowance. We expect you to go 
          over in the winter as the heating gets more use, but we expect that to drop in the summer when it is warmer. If we think 
          it is excessive use we will tell you so you can reduce the use and get back into line. If at the end of the Lease you have 
          abused the system and used in excess of the allowance we will deduct the difference from your deposit.</p>
          <p>We think this is fair to both parties. If you don't like it we are happy to reduce the rent by &pound;10 and let you deal with the Water Rates, Broadband, Gas, Electricity and TV Licence independently. </p>
          
          <p id="want"><strong>I like the house and want to secure it - what do I do next?</strong></p>
          <p>Firstly phone, text or email to say you want the room and make sure it has not already gone. If we agree to securing 
          the room for you then on the <strong><%= link_to "Rates", rates_path %></strong> page there is a download link for 
          our <a href="documents/Student%20Application%20Form.pdf" target="_top"><strong>Application Form</strong></a>. 
          Print this off, and send it to us with a &pound;450 cheque as the Holding Deposit, together with your &pound;50 fee for 
          credit referencing. Remember to enclose the required documents to back up your application - copy Driving Licence or 
          Passport, copy Visa if you are resident overseas or non-British Passport Holder, and a copy of your Student Card or Offer 
          Letter form the College / UniS.</p>
         
          <p id="action"><strong>What do my Parents have to do?</strong></p>
          <p>They need to print off the <a href="documents/GuaranteeR&B.pdf" target="_top"><strong>Guarantee Form</strong></a> and 
          send that to us, signed witnessed and with a copy of 1 utility bill for proof of address and copy Driving Licence for 
          proof of signature, and your deposit cheque (as above). We will then send a link to them for the credit check - see below. 
          The house is now reserved for you. Once the house is full, and all credit checks are done and all deposits and forms 
          received, the house is secured for you.</p>
          
          <p id="credit"><strong>Do you do any form of credit checking?</strong></p>
          <p>Yes we do. We will send you the tenant, a link to the Vericheck (or similar) website and we will also send the links 
          to your Parents, or Guarantors. You will all be asked to complete a simple on line form and the information you submit 
          will be held securely by them - this preserves the integrity of your/their data. Once the check has been completed, we 
          will get a an email back confirming their status. As soon as this is approved, and we have received the deposit and 
          application forms etc, the house is secured for you.</p>
          
          <p id="keys"><strong>When can I move in / Collect the keys?</strong></p>
          <p>If you are new to Guildford, it is probably several weeks before you move in, so a good idea to get the email addresses 
          of other housemates to Facebook them and get a feel for your new friends/colleagues. Also worth downloading 
          the <a href="documents/Info%20for%20Living%20at.pd" target="_blank"><strong>Info for Living at </strong></a>...&gt; 
          from our <strong><%= link_to "Rates", rates_path %></strong> page. This gives you more details about living away from home and what is expected 
          of you - and what you can expect from others.</p>
          <p>You can collect the keys and move in from the first day of the Tenancy Agreement.  We would like to arrange to meet you 
          and you parents on the first day so we can show you round the house, and make sure we have all the right contact addresses
          etc for your next of kin. It means we can cover any last minute administration. You do not need to move in and stay there 
          from day 1, you can always leave it until nearer your start date. We would recommend that you have at least a week or two 
          in the house before term starts so you get a feel for the house, your house mates, the locality and night life in 
          Guildford.</p>
          
          <p id="bring"><strong>What do I need to bring with me?</strong></p>
          <p>Your room will be furnished so essentially you only need your clothes and personal effects, and bedding. This means 
          sheets, duvets and covers, and pillows and cases. The kitchen will have crockery cutlery pots and pans enough for all of 
          you. You will need to do washing up in between but we generally leave enough for twice the number in the house. If you are 
          a coffee addict, we don't provide coffee machines. We have a blanket ban on chip fryers. Everything you bring you will need 
          to store in your own room - your room is your  home now and you can't leave your stuff everywhere else !</p>
          
          <p id="washing"><strong>What about washing?</strong></p>
          <p>Every house has a front loading automatic washing machine . No houses have tumble dryers but they all have either solar 
          powered or wind powered drying facilities in the garden. (It's a washing line !) There is only one machine so you'll need 
          to get your washing out at end of cycle or expect to find it on the floor and someone else's in instead !</p>
          
          <p id="bath"><strong>Is there a bath?</strong></p>
          <p>No, none of our houses have baths. We prefer you take showers. It uses less water, it more eco-friendly, and saves time. 
          With 5 or 6 of you every morning there can be a queue. All 6 bed houses have 2 showers, 5 beds may only have 1. There will 
          always be 2 toilets.</p>
          
          <p id="bike"><strong>Can I bring my bike?</strong></p>
          <p>Yes of course. There is always somewhere to park them and we try to give you at least a shed or somewhere to padlock 
          them up. There are a lot of bikes in Guildford and sometimes they  get stolen, so make sure you are insured, padlocked and 
          know the serial no, make and model to report the theft in the event this happens.</p>
          
          <p id="car"><strong>Can I bring a car?</strong></p>
          <p>We don't advise this, but the answer is again generally yes. Parking is very difficult in Guildford and 
          expensive - &pound;8 - &pound;10 a day. We have limited parking at our houses, although there is generally street parking.</p>
          
          <p id="food"><strong>Do you provide food?</strong></p>
          <p>We are not a hotel, and you left your Mum behind! Welcome to the real world, you are now providing your own. There is 
          usually a good supermarket within easy walking distance and there is always Dominos! Each kitchen has sufficient pots and 
          pans to allow you to cook virtually everything. If you don't know how to cook, then get learning at home, or you will go 
          hungry!</p>
    </div>
  </div>
</div>
