<div class="home_color">
</div>
<div class="home_hero text-center container-fluid">

  <h1>Easy student lets in Guildford</h1>
  <h3>Bills included, fast internet, all managed by friendly landlords,
  on-hand to help.</h3>

</div>