<div class="home_color">
</div>
<div class="home_hero text-center container-fluid">

  <h1>Easy student lets in Guildford</h1>
  <h3>Bills included, fast internet, all managed by friendly landlords,
  on-hand to help.</h3>

</div>
<div class="home-properties container">
  <div class ="row">
    <h2>Houses</h2>
    <p>Below are the properties we let to students.</p>
  </div>
  <div class="row"> 
    <div class="home-properties-card col-md-4">
      <div class="well">
        <%= link_to "Stag Hill", stag_hill_path, class:"h3 text-center" %>
        <p>5 Bed</p>
      </div>
    </div>
    <div class="home-properties-card col-md-4">
      <div class="well">
        <h3 class="text-center">Ash Grove</h3>
        <p>6 Bed</p>
      </div>
    </div>
    <div class="home-properties-card col-md-4">
      <div class="well">
        <h3 class="text-center">Southway</h3>
        <p>6 Bed</p>
      </div>
    </div>
  </div>
</div>