<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <h1>Useful Links</h1>
      <p><a href="http://www.surrey.ac.uk/">Surrey University</a></p>
      <p><a href="http://www.acm.ac.uk/">ACM</a></p>
      <p><a href="http://www.ucreative.ac.uk/farnham">University of Creative Arts Farnham</a></p>
      <p><a href="http://gsauk.org/">Guildford School of Acting</a></p>
      <p><a href="http://www.college-of-law.co.uk/">Guildford Law College</a></p>
      <p><a href="http://www.royalsurrey.nhs.uk/">Royal Surrey County Hospital</a></p>
      <p><a href="http://www.tesco-careers.com/">Jobs at Tesco</a></p>
      <p><a href="http://www.gumtree.com/guildford">Gumtree Jobs Guildford</a></p>
      <p><a href="http://www.cylex-uk.co.uk/guildford/doctors.html">Doctors in Guildford</a></p>
      <p><a href="http://www.cylex-uk.co.uk/guildford/dentists.html">Dentists in Guildford</a></p>
      <p><a href="http://www.cylex-uk.co.uk/guildford/car%20rental.html">Car Rental</a></p>
    </div>
  </div>
</div>
