<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <h1>Properties</h1>
      <h3>Property details</h3>
      <p>We have a growing number of houses in Guildford that are designed with students in mind. So typically we make sure you have:</p>
      <ul>
        <strong><li>Regular Gardener visits</li>
        <li>Fast Unlimited Fibre Extra Broadband</li>
        <li>Flat Screen TVs</li></strong>
        <li>Good bathroom/shower facilities</li>
        <li>A communal area for eating and socialising</li>
        <li>A study bedroom with</li>
          <ul>
            <li>Desk, chair, wardrobe, chest of drawers </li>
            <li>Quality Mattress</li>
            <li>Good quality carpet</li>
            <li>A pin board and bedside light</li>
            <li>A Smoke Alarm</li>
            <li>Mirror</li>
          </ul>
      </ul>
      <p>All you will need is bed linen/bedding and towels, and perhaps a clothes airer if you are going to wash!</p>
      <p>Our houses are all centrally heated with Gas. The kitchens are fitted out with cupboarding and storage sufficient 
      for all. Each student will also have fridge and freezer space (usually a shelf each) and we also provide a washing 
      machine toaster microwave and kettle. For the domestic there is a hoover, ironing board and mop/bucket!</p>
      <br>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Click here to see our 2016 Survey Results</a>
      </div>
    </div>
  </div>
</div>
