<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <h1>Rates</h1>
      <h2>2017 - 2018 Rates and Terms per person</h2>
      <p>Phone us for more details.</p>
      <p><strong>No agency fees!</strong></p>
      <table class="table">
        <tr>
          <th>Property</th>
          <th>Availability</th>
          <th colspan="3">Weekly Rent per student</th>
          <th>Monthly Rent pp</th>
          <th>Included in ALL houses*</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>Single</th>
          <th>Double</th>
          <th>2 sharing</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>4 Stag Hill</td>
          <td>LET for 2017 - Available Aug '18</td>
          <td>NA</td>
          <td>£135</td>
          <td></td>
          <td>£590</td>
          <td rowspan="3" class="table-narrow">Fast Unlimited Fibre Optic Extra Broadband, 
          Gas & Electricity, Flat Screen TV & Licence with FreeView, 
          Water Rates, Property Maintenance, inc Gardener</td>
        </tr>
        <tr>
          <td>23 Ash Grove</td>
          <td>LET for 2017 - Available Aug '18</td>
          <td>£120</td>
          <td>£135</td>
          <td></td>
          <td>£ 525 / £ 590</td>
        </tr>
        <tr>
          <td>72 Southway</td>
          <td>LET for 2017 - Available Aug '18</td>
          <td>£120</td>
          <td>£135</td>
          <td></td>
          <td>£ 525 / £ 590</td>
        </tr>
      </table>
      <p>Please note you will need to insure all your personal belongings. We insure the house and our contents, but not your contents</p>
    </div>
  </div>
</div>
<div id="color-bar">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Credit Checking</h3>
      <p>We use Vericheck. All guarantors will need to complete an on-line form for VeriCheck. There is a one off credit reference fee of £50</p>
      <p>Single and double rooms are single occupancy only unless specifically agreed for double occupancy</p>
      <h3>Additional Bills</h3>
      <p>Council Tax is generally zero rated for students and therefore £ nil but remains students responsibility</p>
      <p>If you are a 1st year student you may have to pay council tax for the first week or two until your course starts</p>
      <h3>Included Bills</h3>
      <p>An allowance is made for each tenant of £10 per week for utilities</p>
      <p>Any use over this may be charged back to the tenant at end of the lease</p>
      <h3>Deposits</h3>
      <p>We use www.MyDeposits.co.uk for £450 security deposits you lodge with us. Once received we register the receipt and 
      provide you with a certificate for the deposit. You can see it on-line and My Deposits have a dispute resolution service if 
      we can't  agree the condition at the end of the lease. Everyone's happy</p>
      <h3>Useful Documents</h3>
      <table class="table">
        <tr>
          <td>Moving into a Rented House</td>
          <td>What to expect and what to look for when renting for the first time</td>
        </tr>
        <tr>
          <td>Application Form</td>
          <td>Student Application Form for Tenancy</td>
        </tr>
        <tr>
          <td>House Rules</td>
          <td>List of basic House Rules</td>
        </tr>
        <tr>
          <td>Guarantee</td>
          <td>Parent/Guardian Guarantee</td>
        </tr>
        <tr>
          <td>InclusiveTenancy Agreement</td>
          <td>Sample of Lease or contract for your stay in our house (inclusive of bills)</td>
        </tr>
   		   <tr>
          <td>Information Sheet</td>
          <td>General Information about living in our house in the area</td>
        </tr>
      </table>
    </div>
  </div>
</div>
