<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <h1>Rates</h1>
      <p></p>
      <table class="table">
        <tr>
          <th>Property</th>
          <th>Availability</th>
          <th colspan="3">Weekly Rent per student</th>
          <th>Monthly Rent pp</th>
          <th>Included in ALL houses*</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>Single</th>
          <th>Double</th>
          <th>2 sharing</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>4 Stag Hill</td>
          <td>LET for 2017 - Available Aug '18</td>
          <td>NA</td>
          <td>£135</td>
          <td></td>
          <td>£590</td>
          <td rowspan="3" class="table-narrow">Fast Unlimited Fibre Optic Extra Broadband, 
          Gas & Electricity, Flat Screen TV & Licence with FreeView, 
          Water Rates, Property Maintenance, inc Gardener</td>
        </tr>
        <tr>
          <td>23 Ash Grove</td>
          <td>LET for 2017 - Available Aug '18</td>
          <td>£120</td>
          <td>£135</td>
          <td></td>
          <td>£ 525 / £ 590</td>
        </tr>
        <tr>
          <td>72 Southway</td>
          <td>LET for 2017 - Available Aug '18</td>
          <td>£120</td>
          <td>£135</td>
          <td></td>
          <td>£ 525 / £ 590</td>
        </tr>
      </table>
    </div>
  </div>
</div>
