<div class="container">
  <div class ="row">
    <div class="col-md-12">
      <h1>Testimonials</h1>
      <h3>These testimonials are taken from students or their parents.</h3>
      <br>
      <a href="#" class="btn btn-primary">Click here to see our 2016 Survey Results</a>
      <br>
      <p>1. During our time here we have made the house our home. Bill and Liz are a lovely couple who have made us feel welcome, changed things to suit our needs and have always understood the financial difficulties that you face as a student living away from home. They are kind and caring and will always attend to the needs of the house as landlords should.                                                                                          </p>
      <p>2 "On receiving  a enquiry for the  cleaning of four student rental houses , I immediately cast my memory back to some of the other student accommodation I had experienced in Guildford. 
On inspection I was pleasantly surprised at the condition and practicality of the properties. 
A Significant  improvement on any other student accommodation I had visited in the past. 
I also found the landlords fair and very professional to deal with."
Daren   www.activecleaningservices.co. uk     07976812741</p>  
      <p>3. Thank you very much, I'm extremely grateful; I received the full deposit in full yesterday morning.  Once again, I thank you for being great landlords, if we ever needed anything, you provided very quickly and I would recommend you to any future tenants!</p>
      <p>4. Thankyou for a great year in a great house, and for being great landlords.</p>
      <p>5. I can confirm that the deposit has been returned and am happy to complete the survey. Once again, thank you for providing us great accommodation for the year.</p>
      <p>6. can i take this opportunity of saying thank you for all of your patience with my "wayward" son over the past 2 years.  I am deeply appreciative of it and i know J****** has been also.  You have been excellent landlords.</p>
      <p>7. Thanks again to you and Bill, we've all really enjoyed living at 72SW and hope to be able to use you both as landlords again.</p>
      <p>8. Thanks for being so understanding about the house, like I said on the phone, we wouldn't leave it in a mess for you at all after being such a good landlord for the last 2 years!</p>
      <p>9. Thank you very much for being a fantastic landlord. My 2 years at AG has been a great experience.</p>
      <p>10. Thank you very much for the dedication, care and patience shown to us during my stay at 91 Park Barn Drive. I believe we were lucky to have had such a great landlord and lady.</p>
      <p>11. You guys have been the best landlords, I can assure you we will all (5) miss you.</p>
      <p>12. Thank you also for being a great Landlord. I have received the deposit back and really enjoyed living in your property.</p>
    </div>
  </div>
</div>