/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

// Navbar styles

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-brand {
  color: white;
}

// Homepage styles

.home_hero {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

#home-color {
  height: 370px;
  width: 100%;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-3deg);
  background: linear-gradient(150deg,#56CCF2 15%,#2F80ED 70%);
  position: absolute;
  top: 0px;
  z-index: -1;
}

#home-color span {
    height: 100px;
}

#home-color :nth-of-type(1) {
  background: #56ccf2;
  width: 33.33%;
  position: absolute;
}

#home-color :nth-of-type(2) {
  background: #43a7ef;
  width: 33.33%;
  left: 33.33%;
  position: absolute;
}

#home-color :nth-of-type(3) {
  background: #2f80ed;
  width: 33.33%;
  left: 66.66%;
  position: absolute;
}

#home-color :nth-of-type(4) {
  background: #45abf0;
  width: 20%;
  top: 73%;
  position: absolute;
}

#home-color :nth-of-type(5) {
  background: #3b98ef;
  width: 20%;
  left: 20%;
  top: 73%;
  position: absolute;
}

.home-title {
  margin: 70px 100px 30px 20px;
}

.home-properties-card img {
  object-fit: cover;
  height: 250px;
  width: 250px;
}

.home-properties-card {
  text-align: center;
}

.well {
  background-color: #fbfbfb;
  border: 1px solid #e2e2e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.well p {
  margin-top: 10px;
}

.let {
  color: white;
  opacity: 0.5;
}

h1 {
  font-size: 42px;
}

h2 {
    color: #46adf0;
    font-size: 35px;
}

