<!DOCTYPE html>
<html>
  <head>
    <title>Crashpad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='/'><i class="fa fa-bed"></i> Guildford Crashpad</a>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
  <footer id="footer">
    <div class="container">
      <div class="col-md-12">
        <br>
        <p>UniS - ACM - Law College - Police College - Hospital - Guildford College - Merrist Wood - ALL Students Welcome</p>
      </div>
    </div>
  </footer>
</html>
